@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300&family=Open+Sans:wght@300&family=Roboto+Mono:wght@100;200;300;400&display=swap');
body, html{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(245, 248, 229, 0.486);
}

#app{
  width: 100%;
  height: 100%;
}

.link:hover{
  font-size: calc(2vw + 30px);
  transition: .15s all linear;
}


.link{
  transition: .15s all linear;
}


#blinky{
  animation: blinker 1s linear infinite;
}
.blinky{
  animation: blinker 1s linear infinite;
}


@keyframes blinker{
50%{
  opacity: 0;
}
}
 
@media screen and (max-width: 716px) {
    .nonnav-wrapper{
        flex-direction: column;
    }
    .navigation{
      height: 250px !important;
    }
    #message{
      margin-top: -30px;
      margin-bottom: 25px;
    }
}

.link-wrapper{
  height: calc(100% - 225px);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-wrap: wrap;
}

.arl{
  width: calc(50% - 2px);
  height: calc(50% - 2px);
  transition: all .2 linear;
  border: 1px #222 solid;
  text-decoration: none;
}
.arl:hover{
  background-color: rgba(0, 0, 0, 0.15);
  transition: all .1s linear;
}